{% extends "meseros/base_generic.html" %}

{% block content %}

<label fors="" +>Busqueda Meseros</label>

    <div class="input-group ">
        <form class="d-flex" method="get" style="width: 500px">
            <input class="form-control mb-8" placeholder="Ingrese el nombre del Mesero a buscar" type="text" name="q" value="{{ query }}" >


        </form>


    </div>
    {% if query %}
        <h2> Resultados para "{{ query | escape }} "</h2>
        {% if data %}
            <ul>
                {% for meseros in data %}
                    <li>{{ meseros.nombre }} es {{ meseros.nacionalidad }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No se encontraron datos </p>
        {% endif %}
    {% else %}
        <p>No se ha enviado ninguna busqueda </p>
    {% endif %}

{% endblock %}