{% extends "meseros/base_generic.html" %}


{% block content %}

    <h3>Lista de registrados </h3>

    <div class="card-body">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Accion</th>

            </tr>
            </thead>
            <tbody>

                {% for meseros in data %}

                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><p>{{ meseros.nombre }} es  {{ meseros.nacionalidad }} y tiene {{ meseros.edad }}</p></td>
                            <td>
                                <a class="btn btn-primary" href="{% url 'mesero_edit' meseros.id %}" role="button">Editar </a>
                                <a class="btn btn-danger" href="{% url 'mesero_delete' meseros.id %}" role="button">Eliminar </a>
                            </td>

                        </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



{% endblock %}